@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

/*@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);*/


* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Inconsolata';
	font-size: 10pt;
	line-height: 2em;
	color: #212121;
	overflow-y: scroll;
	text-align: center;
	background-color: #fafafa;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
}

select,input {
	color: inherit;
	background-color: inherit;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	outline: none;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

#archillect {
	opacity: 0.1;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: 150px;
	font-weight: 700;
}

#loop{
	text-align: center;
	width: 100%;
	margin: 64px 0;
}

#loop a {
	opacity: 0.05;
}

#loop a:hover {
    opacity: 1;
}

/* list item */

.item{
	overflow: hidden;
	position: relative;
}
.overlay {
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.item:hover .overlay {
	opacity: 100;
}
.item img{
	width: 100%;
	height: auto;
}
#container div{
	float: left;
}
#container {
	width: 100%;
	overflow: auto;
	margin-bottom: 128px;
}
.s{
	font-size: 48px;
	letter-spacing: 0.1em;
	font-weight: 800;
	margin-bottom: 8px;
}
.label{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 16px;
	margin-bottom: 16px;
}
.options a {
	opacity: 0.5;
	height: 1em;
	line-height: 1em;
	text-decoration: none;
	display: inline-block;
	margin: 0 4;
	padding: 4;
}

.options a:hover {
	opacity: 1;
}

#social {
	position: absolute;
	left: 0;
	top: 0;
	margin: 16px;
}

#menu{
	position: absolute;
	width: 100%;
	top: 180;
}

#c {
	line-height: 50px;
}

#i {
	margin-bottom: 64px;
}

#ii{
	max-width: 100%;
}

#sources {
	margin-top: 16px;
	margin-bottom: 32px;
	line-height: 1em;
}

#sources a {
	display: inline-block;
	background-color: #212121;
	color: white;
	width: 8px;
	height: 8px;
	line-height: 8px;
	padding: 8px;
	border-radius: 4px;
	text-decoration: none;
}

#sources a:hover {
	opacity: 0.8;
}


#wrap {
	width: 100%;
	height: 100%,;
}

#screen, #screenfg, #screenbg, #screenfade,#screencarry  {
	width: 100%;
	height: 100%;
	position: absolute;
}

#screenfade {
	background-color: black;
	opacity: 0;
	transition: 6s;
}

#screen {
	animation: zoom 60s infinite;
	-webkit-animation: zoom 60s infinite;
	-moz-animation: zoom 60s infinite;
	-o-animation: zoom 60s infinite;
}

#screenelements {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	height: 100%;
	float: left;
	transition: 0.3s;
}

#sidebar {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
	right: 0;
	color: white;
	height: 100%;
	width: 0px;
	/*background-color: #212121;*/
	transition: 0.3s;
}

#sidebarcontent {
	width: 400px;
	height: 100%;
	box-sizing: border-box;
	padding: 32px;
	text-align: left;
}

#sidebarcontent>*{
	margin-bottom: 1em;
}

.settinginput{
	padding: 0 4;
	line-height: 2em;
	background-color: #212121;
	box-sizing: border-box;
	width: 100%;
}

#screenelements.sidebar-active{
	right: 400px;
}

#sidebar.sidebar-active{
	width: 400px;
}

/* filter node settings */

.filternode * {
	line-height: 1.5em;
	height: 1.5em;
}

.filternode {
	margin-bottom: 1em;
}

.filterlabel {
	display: inline-block;
}

.filterremove {
	float: right;
	text-align: center;
	display: inline-block;
	color: black;
	background-color: white;
	width: 1.5em;
	border-radius: 1.5em;
	cursor: pointer;
}

.filterval {
	padding: 0 4;
	box-sizing: border-box;
	width: 60px;
	float: right;
	text-align: center;
	margin-right: 2em;
    border-bottom: 1px dotted white;
}




/* screen */

#screenfg {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#screenbg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*opacity: 0.5;*/
}

#screenoverlay {
	position: absolute;
	bottom: 32px;
	left: 32px;
}

#screenoverlay div, #screenoverlay a {
	vertical-align: top;
	display: inline-block;
	line-height: 20px;
	height: 20px;
}

#screentitle {
	text-transform: uppercase;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

#screenlink {	
	color: white;
	position: relative;
	font-size: 12px;
	bottom: 1px;
}

#soundcloud {
	color: white;
	position: absolute;
	bottom: 32px;
	right: 32px;
}

#soundcloud div {
	vertical-align: top;
	display: inline-block;
}

#soundcloud #playing {	
	text-transform: uppercase;
	height: 2em;
	background-color: black;
	padding: 0em 1em;
}

#playpause {
	color:black;
	background-color: white;
	width: 2em;
	height: 2em;
	line-height: 2em;
	cursor: pointer;
	display: inline-block;
}

/*.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 4em;
	letter-spacing: 5px;
}*/
.ctitle, .title {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 5em;	
}

.ctitle {
	line-height: 2em;
}

.ctitlebig {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 2em;
}

.indexitem {
	margin-top: 5em;
}

.indexitem a, .indexitem a:hover {
	text-decoration: none;
}

.indexitem .ctitlebig {
	font-size: 24px;
	margin-bottom: 0;
}

#content, #disqus_thread {
	max-width: 800px;
	margin: auto;
	margin-bottom: 300px;
	padding-left: 16px;
	padding-right: 16px;
}
#disqus_thread{
	margin-bottom: 64px;
}
.text {
	text-align: justify;
}
.text>span {
	display: block;
	margin-bottom: 2em;
}

/* Helpers */

.doublespace {
	line-height: 3em;
}

.faded {
	opacity: 0.3;
}

.section {
	margin-bottom: 4em;
	/*padding: 4px;*/
}

.center {
	text-align: center;
}

/* Anchor */

*:target { /*when the anchor is active (clicked)*/
	-webkit-animation-duration: 5s; 
	animation-duration: 5s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
	-webkit-animation-name: focusbg; 
	animation-name: focusbg; 
}

*:target imp, .imp imp { /*when the anchor is active (clicked)*/
	-webkit-animation-duration: 20s; 
	animation-duration: 20s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
	-webkit-animation-name: focusimp; 
	animation-name: focusimp; 
}


/* Settings */

.grayscale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.saturate{
    -webkit-filter: saturate(100); 
    filter: saturate(100); 
}

.sepia{ 
    -webkit-filter: sepia(100%); 
    filter: sepia(100%); 
}

.invert{ 
    -webkit-filter: invert(100%); 
    filter: invert(100%); 
}


/* Animations */

@-webkit-keyframes focusbg {
	0% {background-color: inherit;} 
    10% {background-color: rgba(255,255,0,0.4);} 
    100% {background-color: inherit;} 
} 
@keyframes focusbg { 
    0% {background-color: inherit;} 
    10% {background-color: rgba(255,255,0,0.4);} 
    100% {background-color: inherit;} 
}
@-webkit-keyframes focusimp { 
    0% {background-color: inherit;} 
    10% {background-color: rgba(255,255,0,1);} 
    100% {background-color: inherit;} 
} 
@keyframes focusimp { 
    0% {background-color: inherit;} 
    10% {background-color: rgba(255,255,0,1);} 
    100% {background-color: inherit;} 
} 



@keyframes zoom {
  0% {	transform:scale(1,1) }
  50% { transform:scale(2,2) }
  100% { transform:scale(1,1) }
}

@-webkit-keyframes zoom {
  0% {	-webkit-transform:scale(1,1) }
  50% { -webkit-transform:scale(2,2) }
  100% { -webkit-transform:scale(1,1) }
}

@-moz-keyframes zoom {
  0% {	-moz-transform:scale(1,1) }
  50% { -moz-transform:scale(2,2) }
  100% { -moz-transform:scale(1,1) }
}

@-o-keyframes zoom {
  0% {	-o-transform:scale(1,1) }
  50% { -o-transform:scale(2,2) }
  100% { -o-transform:scale(1,1) }
}


@keyframes buzz {
  0% {	opacity: 1; }
  50% { opacity: 0.95; }
  100% { opacity: 1; }
}

@-webkit-keyframes buzz {
  0% {	opacity: 1; }
  50% { opacity: 0.95; }
  100% { opacity: 1; }
}

@-moz-keyframes buzz {
  0% {	opacity: 1; }
  50% { opacity: 0.95; }
  100% { opacity: 1; }
}

@-o-keyframes buzz {
  0% {	opacity: 1; }
  50% { opacity: 0.95; }
  100% { opacity: 1; }
}