* {
	margin: 0;
	padding: 0;
	user-select: none;
}
html, body {
	width: 100%;
	overflow: hidden;
}

#screen, #screenfg, #screenbg {
	width: 100%;
	height: 100%;
}

#screen {
	animation: zoom 40s infinite;
}
/* screen */
#screenfg {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

#screenbg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*opacity: 0.5;*/
}

/* Settings */
.grayscale{
	filter: grayscale(100%);
}

.saturate{
    filter: saturate(50%);
}

.hue-rotate{
    filter: hue-rotate(-20deg);
}

.invert{
    filter: invert(100%);
}

/* Animations */
@keyframes zoom {
  0% {	transform:scale(1,1) }
  50% { transform:scale(2,2) }
  100% { transform:scale(1,1) }
}
